$color_1: #212121;
$color_2: #eeeeee;
$color_3: #c6c6c6;
$color_4: #fff;
$color_5: #4890c4;
$color_6: #a7000f;

$trans: all 300ms ease;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$lit: 430px;
$small: 767px;

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $lit) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $lit + 1) and (max-width: $small - 1) { @content; }
  }
}
